.footer {
  background-color: var(--dark-blue);
  color: var(--primary-color);
  width: device-width;
  margin: 0px;
  padding-bottom: 5px;
  position: relative;
  z-index: 3;
  font-family: var(--font-family);

  .top {
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-wrap: wrap;
    color: var(--primary-backround);
    display: flex;
    justify-content: space-around;

    .company {
      width: 250px;
      color: var(--primary-color);
      .logo{
        width: 50%;
        margin-bottom: 15px;
      }

      .slogan {
        color: #ccc;
        font-size: 17px;
        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }
      .source-code {
        display: flex;
        align-items: center;
        padding: 4px 0;
        font-size: 13px;
        color: #ccc;
        font-family: var(--font-family);
        font-size: 16px;
        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }

      a {
        color: var(--primary-color);
        text-decoration: none;
        color: #ccc;
        font-family: var(--font-family);

        &:hover {
          text-decoration: underline;
          color: white;
        }
      }
      img {
        width: 100px;
      }
    }

    .developer {
      @extend .company;
      display: flex;
      flex-direction: column;
      width: 170px;
      font-family: var(--font-family);

      @media only screen and (max-width: 400px) {
        width: fit-content;
        margin-top: 10px;
      }

      h5 {
        font-size: 18px;
        margin-bottom: 7px;
        margin-top: 0;
        color: #fff;
        padding-left: 0px;
        font-weight: normal;
        font-family: var(--font-family);
        @media only screen and (max-width: 400px) {
          font-size: 15px;
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 2px;
        font-family: var(--font-family);
        font-size: 16px;
        @media only screen and (max-width: 400px) {
          font-size: 13px;
        }
      }
    }

    .privacy {
      @extend .developer;
    }

    .categories {
      p {
        margin: 0;
      }
      @extend .developer;
    }
  }

  .bottom {
    padding: 10 0 20px;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    p {
      color: rgb(213, 215, 213);
    }
  }
}
